html, body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
}

/* BASE */

nav {
    display: flex;
    height: 70px;
    width: 100%;
    gap: 7%;
    justify-content: end;
    background-color: #A70000;
    box-shadow: 0 0 20px #444444;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav .menu {
    display: flex;
    width: 48%;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 20px;
}

nav .menu li a,
nav .user a {
    color: #ffffff;
    text-decoration: none;
}

nav .menu li a:hover {
    text-shadow: 0 0.015em #ffffff,0 -0.015em #ffffff,0.01em 0 #ffffff,-0.01em 0 #ffffff;
}

nav .user {
    display: flex;
    width: 240px;
    flex-direction: column;
    gap: 10px;
    align-self: center;
}

nav .user a:hover {
    text-decoration: underline;
}

nav img {
    height: 80px;
}

h1 {
    color: #A70000;
    cursor: default;
}

/* HOME */

#username {
    font-weight: bold;
}


.home_body {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 100px auto 0;
}

.home_body ul {
    list-style: none;
}

.home_body a {
    min-width: 450px;
    align-self: center;
    text-align: center;
    text-decoration: none;
    color: #000 !important;
    -webkit-transition: .5s;
}

.home_body a:hover {
    transform: scale(1.1);
    -webkit-transition: .5s;
}

.home_body a img {
    height: auto;
    min-width: 270px;
    max-width: 330px;
}

.home_body a p {
    font-family: 'Bakbak One', cursive;
    text-transform: uppercase;
    margin: 0;
    font-size: 75px;
}

.home_body_serie a p {
    margin-left: 17px;
}



/* PLATFORMS */

#platforms_list {
    display: grid;

}

#platforms_list > li  {
    display: flex;
    height: 100px;
    width: 100px;
    background-color: #999999;
    margin: 30px;
    padding: 30px;
}

/* MOVIES */

.movie_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.movie_search {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 20px;
    align-items: center;
}

.movie_search input[type=text] {
    padding: 10px;
}

.movie_search input[type=text],
#movie_search_btn {
    width: 25%;
}

#movie_search_btn {
    padding: 10px;
    color: #FFF;
    font-weight: bold;
    background-color: #a70000;
    border: none;
}

#movie_search_btn:hover {
    background-color: #8f0000;
    cursor: pointer;
}

.movie_filters {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.movie_filters div {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.spinner {
    display: none;
    margin-top: 20px;
    justify-content: center;
}

.lds-ring {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 30px;
    align-self: center;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

.lds-ring div {
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    border: 3px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(184, 184, 184) transparent transparent transparent;
}

@keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

#error_message {
    display: none;
}




.movie_result {
    width: 65%;
    margin: 0 auto 100px;
}

.movie_result_box {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin: 20px 0;
    padding: 15px 55px;
    opacity: .8;
    background-color: #e3e3e3;
    box-shadow: 0 0 10px 0 #b9b9b9;
    transition: .2s;
}

.movie_result_box:hover {
    opacity: 1;
    background-color: #e5e5e5;
    box-shadow: 0 0 10px 0 #868686;
    cursor: pointer;
}

.movie_result_box img {
    height: 200px;
    width: auto;
    margin: 10px 0;
}

.movie_result_box .genres {
    display: flex;
    gap: 10px;
}



/* popup */

.hidden {
    display: none!important;
}

.popup_overlay,
.popup_overlay_list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    background-color: #808080;
    z-index: 5;
}

.popup {
    top: 9%;
    left: 21%;
    height: 70%;
    width: 54%;
}

.popup,
.popup_list {
    display: block;
    position: fixed;
    padding: 0 35px;
    background-color: #FFFFFF;
    border: solid 1px #888888;
    overflow: auto;
    max-height: 90vh;
    z-index: 6;
    box-shadow: 0 0 20px #a5a5a5;
    animation: appear 350ms ease-in 1;
}

.popup_list {
    top: 30%;
    left: 30%;
    height: 20%;
    width: 30%;
}

.popup_header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    background-color: #FFF;
}

.close {
    height: 25px;
}

.close,
.close_list,
.add_to_list {
    opacity: .7;
}

.close,
.close_list {
    cursor: pointer;
}

.add_to_list:hover {
    opacity: 1;
    cursor: pointer;
}

.movie_modal {
    display: grid;
    grid-template-columns: 1fr repeat(2, .5fr) repeat(3, 1fr);
    grid-template-rows: 1fr .5fr 1fr .5fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.poster { grid-area: 1 / 5 / 6 / 7; }
.title { grid-area: 1 / 1 / 2 / 5; }
.year { grid-area: 2 / 1 / 3 / 2; }
.duration { grid-area: 2 / 2 / 3 / 4; }
.director { grid-area: 2 / 4 / 3 / 5; }
.ratings { grid-area: 3 / 1 / 4 / 3; }
.genre_list { grid-area: 3 / 3 / 4 / 5; }
.awards { grid-area: 4 / 1 / 5 / 3; }
.actors { grid-area: 4 / 3 / 5 / 5; }
.plot { grid-area: 5 / 1 / 6 / 5; }

.poster {
    height: 27vw;
    justify-self: center;
    align-self: center;
}

.duration,
.year,
.plot,
.actors,
.director,
.awards {
    color: #9d9d9d;
}

.duration span,
.year span,
.plot span,
.actors span,
.director span,
.awards span {
    color: #000;
}

.genre_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-gap: 5px;
    width: 50%;
    font-size: .7vw;
    text-align: center;
    align-self: center;
}

.genre,
.rating {
    padding: 5px 10px;
    background-color: #808080;
    color: #FFF;
    border-radius: 10px;
}



/* responsive popup */


@media screen and (max-height: 1000px) {
    .popup {
        top: 6%;
        height: 85%;
    }
}

@media screen and (max-width: 1750px) {
    .popup {
        left: 15%;
        width: 65%;
    }
}

@media screen and (max-width: 1450px){
    .popup {
        left: 9%;
        width: 75%;
    }
    .movie_modal {
        font-size: 15px;
    }
    .genre_list {
        font-size: .8vw;
    }
}

@media screen and (max-width: 1200px){
    .movie_modal {
        font-size: 13px;
    }
}

@media screen and (max-width: 1050px){
    .popup {
        left: 6%;
        width: 80%;
    }
}






/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    height: 65px;
    width: 100%;
    background-color: #5eb5e0;
}




/*******************************/
/* COLORS */


/* rates */

.red_rating {
    background-color: #d91313 !important;
}
.orange_rating {
    background-color: #f97619 !important;
}
.green_rating {
    background-color: #4bbf10 !important;
}

/* genres */

.comedy_genre {
    background-color: #7EA8B4 !important;
}
.romance_genre {
    background-color: #d77ba3 !important;
}
.drama_genre {
    background-color: #7a8ac8 !important;
}
.western_genre {
    background-color: #825945 !important;
}
.history_genre {
    background-color: #aa7540 !important;
}
.thriller_genre {
    background-color: #396f76!important;
}
.crime_genre {
    background-color: #a34747 !important;
}
.mystery_genre {
    background-color: #4e7a61 !important;
}
.horror_genre {
    background-color: #2B241D  !important;
}
.war_genre {
    background-color: #687b44 !important;
}
.music_genre {
    background-color: #D5B740 !important;
}
.fantasy_genre {
    background-color: #5d407a !important;
}
.adventure_genre {
    background-color: #a7b42f !important;
}
.action_genre {
    background-color: #d85151 !important;
}
.animation_genre {
    background-color: #d66b01 !important;
}
.biography_genre {
    background-color: #7dc097 !important;
}
.documentary_genre {
    background-color: #9468a7 !important;
}