{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}

{% block body %}
    <div class="home-body">
        <div class="movie-search">
            <label for="movie_search">Lorem ipsum dolor sit</label>
            <input type="text" id="movie_search">
            <button id="movie_search_btn">Chercher</button>
        </div>
        <div class="popup-overlay hidden"></div>
        <div class="popup hidden">
            <span class="close">X</span>
            <div id="movie_page"></div>
        </div>
    </div>
{% endblock %}
