{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}

{% block body %}
    <div class="movie_body">
        <h1>Lorem ipsum</h1>
        <div class="movie_search">
            <label for="movie_search">Lorem ipsum dolor sit</label>
            <input type="text" id="movie_search">
            <button id="movie_search_btn">Chercher</button>
            <div class="spinner">
                <div class="lds-ring" id="spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="movie_result"></div>
        <div class="popup_overlay hidden"></div>
        <div class="popup hidden">
            <span class="close">X</span>
            <div class="movie_modal"></div>
            <span class="add_to_list">+</span>
            <div class="popup_overlay_list hidden"></div>
            <div class="popup_list hidden">
                <span class="close_list">X</span>
                <div class="list_modal">
                    <p>Lorem ipsum dolor sit amet ?</p>
                    <ul class="ul_lists"></ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
