{% extends 'base.html.twig' %}

{% block title %}Platformes{% endblock %}

{% block body %}
    <div class="home-body">
        <ul id="platforms_list">
            <li id="platform_1">Netflix</li>
            <li id="platform_2">Amazon Prime Vidéo</li>
            <li id="platform_3">Disney Plus</li>
            <li id="platform_4">Canal+</li>
            <li id="platform_5">OCS Go</li>
            <ul id="platform_list_complementary"></ul>
        </ul>

    </div>
{% endblock %}
