{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="home-body">
        <a href="#" class="home-body_film">
            <img src="{{ asset('img/marty.png') }}" alt="film">
            <p>Films</p>
        </a>
        <a href="#" class="home-body_serie">
            <img src="{{ asset('img/jon.png') }}" alt="serie">
            <p>Séries</p>
        </a>
    </div>
{% endblock %}
